article {
	background: orange;
	padding: 10px;
}

header {
	background: #f2f2f2f2;
}

nav {
	border: 1px solid green;
	background: #f2f2f2;
	padding: 10px;
}

footer {
	background: #ccc;
}

section{
	border: 1px dotted #fff;
}

aside {
	background: purple;
}