/* Transições*/

#caixa {
	height: 300px;
	width: 300px;
	background: orange;
}

#caixa:hover {
	width: 400px;
	background: yellow;
	--webkit-transition: width 3s, background 3s;
	--moz-transition: width 3s;
	--o-transition: width 3s;
	/* transition:  width 3s, background 3s; */
	transition:  all 3s;

}