/* *****************************
	Estilizando formulários
 */
 body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
fieldset {
	margin: 1em 0; /*1Em para o topo e zero para as laterais */
 padding: 1em;
 border: 1px solid #ccc;
 background: #f8f8f8; 
}
legend{
	font-weight: bold;
}
/* Do tipo Inline*/
label{
	display: block;
	cursor: pointer; /* Ao passarr o mouse se torna uma mão*/
}
/* dentro dos colchetes pode-se definir o tipo do atributo*/
input[type="text"]{
	width: 20em;
}

textarea{
	width: 100%; /* Colocar em porcentagem para ocupar o espaçamento da tela*/
	height: 10em;
}

input.radio, input.checkbox, input.submit{
	width: auto;
}
.radio{
	margin: 1em;
}