/* **************************
BARRA DE NAVEGAÇÂO VERTICAL*/
/*
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	padding: 5px 20px;
	/* pra voltar é só ../ */
	/* background: url(../Imagens/seta.png) no-repeat left center;
}
*/

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none; 
}
/*Selecionar os links que estão dentro da UL */
ul a{
	display: block;
	width: 200px;
	height: : 40px;
	/* A largura não fica com 400 px porque
	os links são elementos inline*/
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px; /* Altura da linha */
	/* Caso a imagem não carregue tem o plano a cor de fundo*/
	background: #f7b600 url(../Imagens/menu.png) no-repeat left bottom;
}
/* Uma das abordagens = 
.selecionado a -> Desta forma é legal quando
utiliza uma linguagem de programação 
*/
/* Utilizar seletores para selecionar de fomra atuomática*/
a:hover{
	background-position: right bottom;
	background-color: #99200; 
	color: #fff;
}
/* Maneira para diferenciar melhor as navegações*/
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
	background-position: right bottom;
	background-color: #99200; 
	color: #fff;
}