 @font-face {
 	font-family: "Road Rage";
 	src: url("../fontes/RoadRage.woff");
 }
 @font-face {
 	font-family: "Heart";
 	src: url("../fontes/BringHeart.woff");
 }
 @font-face {
 	font-family: "Ancient";
 	src: url("../fontes/Ancient-Medium.woff");
 }
 h1{
 	font-size: 2em;
 	font-family: "Road Rage";
 }
 h2{
 	font-size: 4em;
 	font-family: "Heart";
 }
 h3{
 	font-size: 4em;
 	font-family: "Ancient";
 }